@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#info-header {
    font-size: 2rem;
    padding-bottom: 1rem;
}

#info {
    font-size: 1.3rem;
    flex-direction: column;
    max-width: 1000px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 10px;
    text-align: justify;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

#info-button {
    background-color: rgb(252, 252, 252);

    border: 0;
    border-radius: .5rem;
    color: #111827;

    font-size: .875rem;
    font-weight: 700;
    padding: .75rem 1rem;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    filter: brightness(100%);

    margin: 1rem;

    transition: filter ease-in-out .5s;

    outline: none;
}

#info-button:hover {
    background-color: rgb(245, 245, 245);
}

#info-button:focus {
    box-shadow: 0px 0px 5px 0px rgba(109, 111, 134, 1);
}